 /* 
.wy-nav-content {
    max-width: 100%!important;  the table should not be wider, then the page width?  
}
*/
.wy-table-responsive {
    overflow: visible!important;
}
/*  */
.wy-table-responsive table {
    table-layout: fixed!important; /* fixed would set all the columns to the same width, auto does it automatically */

    width: 100%; /* sets t */
    overflow: visible;
    
}

.wy-table-responsive table td {
    white-space: normal;   
}


.vertical-header span {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: left;
  }
  

.scorllable-table {
    overflow: auto!important;
}

.scorllable-table2 {
    table-layout: fixed!important;
    width: auto !important;
    overflow: auto!important;
}

.sticky-column {
    position: -webkit-sticky;
    position: sticky;
}
