.wy-nav-content {
    max-width: 100%!important;
}

.wy-table-responsive {
    overflow: visible!important;
}

.wy-table-responsive table {
    table-layout: auto;
    width: 100%;
    overflow: visible;
    
}

.wy-table-responsive table td {
    white-space: normal;   
}


.vertical-header span {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: left;
  }
  

.scorllable-table {
    overflow: auto!important;
}

.scorllable-table2 {
    table-layout: fixed!important;
    width: auto !important;
    overflow: auto!important;
}